boto==2.8.0
redis==2.7.2
rq==0.3.7
couchdb==0.8
python-memcached==1.48
isodate==0.4.9
pusher==0.7
git+https://github.com/adonoho/twitter.git@pr-fix-stream#egg=twitter
pubnub==3.3.1
pyyaml==3.10
termcolor==1.1.0
gevent==0.13.8
gevent-websocket==0.3.6
